html,
body {
  margin: 0px;
  padding: 0px;
  background: #111;
  overflow: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  background: radial-gradient(ellipse at bottom left, #021C7F 0, #111 100%);
  -webkit-filter: brightness(1.2);
  -ms-filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  filter: brightness(1.2);
}

#scroll {
  position: absolute;
  bottom: 40px;
  right: 24.8%;
  margin: 0 -100px;
  width: 200px;
  z-index: 100;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7em;
  transition: opacity .3s ease-out;
  opacity: 0;
}

#slogan {
  font-style: italic;
}

#layer {
  z-index: 110;
  position: absolute;
  top: 10px;
  left: 15px;
}

#layer a {
  color: rgba(255,255,255,0.1);
  display: block;
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Consolas', 'Courier', monospace;
}

#debug input {
  background: transparent;
  color: rgba(255,255,255,0.1);
  border: 0;
  display: block;
  padding: 0;
  font-family: 'Consolas', 'Courier', monospace;
}

#debug input:active, #debug input:focus {
  outline: none;
}

body:not(.small) #scroll {
  animation: show-scroll 4s ease-out 1;
  opacity: 1;
}

@keyframes show-scroll {
  0%, 75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hop {
  0%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(3px) rotate(-45deg);
  }
}

#scroll:after {
  content: "";
  position: absolute;
  bottom: -9px;
  transform: rotate(-45deg);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  right: 50%;
  margin: -5px;
  width: 10px;
  height: 10px;
  animation: hop 1s linear infinite;
}

#intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#intro > div {
    width: 100%;
    height: 100%;
    perspective: 100vw;
    transition: all 1s ease-in-out;
}

#disc {
  position: absolute;
  z-index: 100;
  bottom: 49%;
  left: 60px;
  margin: -42vw;
  transform-style: preserve-3d;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: rgba(0,0,0,0.2);
  width: 84vw;
  height: 84vw;
  border-radius: 42vw;
  border: 2vw solid hsla(0,0%,100%,.1);
  perspective-origin: 50% 60%;
  /*-webkit-mask: linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,0%,1)  90% );*/
  transform-origin: 50% 60%;
  transform: rotateX(85deg) rotateZ(0.0001deg) translate(20vw, 28vw);
  transition: transform 1s cubic-bezier(.6,.2,0,.8);
  animation: move-in 2s cubic-bezier(.2,.2,0,.99) 1;
}

#disc:before,
#disc:after {
  content: "";
  position: absolute;
  margin: -2vw;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 3s 1s cubic-bezier(.6,.2,0,.8) infinite,
             spinner-fade 3s 1s linear infinite;

}

#disc:before {
  border-top-color: #FFED2A;
}

#disc:after {
  border-top-color: #56AAEB;
  animation-duration: 1.8s;
  animation-delay: 1.75s;
}

@keyframes move-in {
  0% {
    transform: rotateX(90deg) rotateZ(-50deg) translate(0vw, 50vw);
  }
  100% {
    transform: rotateX(85deg) rotateZ(0.0001deg) translate(20vw, 28vw);
  }
}

@keyframes spinner-spin {
  100% { transform: rotate(360deg); }
}

@keyframes spinner-fade {
  20% { opacity: .1; }
  40% { opacity: 1; }
  60% { opacity: .1; }
}

#js {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  top: 0;
  transform-origin: bottom left;
  backface-visibility: visible;
  transform: rotateZ(7deg) rotateX(-90deg) translateY(7.8%);
  animation: rotate-in 2s cubic-bezier(.2,.2,0,.9) 1;
}

@keyframes rotate-in {
  0% {
    transform: rotateZ(-40deg) rotateX(-90deg) translateY(7.8%);
    opacity: 0;
  }
  100% {
    transform: rotateZ(7deg) rotateX(-90deg) translateY(7.8%);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: rotateX(-90deg) translateY(7.8%) translateX(4%);
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: rotateX(-90deg) translateY(7.8%) translateX(-3.8%);
    opacity: 1;
  }
}

#info {
  font-family: 'Doppio One';
  color: #fff;
  font-size: calc(0.1em + 1.3vw);
  text-align: left;
  position: absolute;
  width: 30%;
  right: 5%;
  bottom: 21%;
  transform-origin: bottom left;
  backface-visibility: visible;
  transform: rotateX(-90deg) translateY(7.8%) translateX(-3.8%);
  animation: fade-in 2s cubic-bezier(.6,.2,0,.8) 1;
  transition: transform 1s cubic-bezier(.6,.2,0,.8);
}

#info > span {
  display: block;
  transition: transform 1s ease-in-out;
}

.small #intro > div {
  transform: translateX(-25vw) scale(0.85) rotateY(15deg) rotateZ(-2deg);
}

.small #info > span {
  transform: translateX(8%);
}


#body {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  scroll-snap-type: mandatory;
  scroll-behaviour: smooth;
  scroll-snap-points-y: repeat(100vh);

  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100vh 0;
  -webkit-scroll-snap-points-y: repeat(100vh);
  -webkit-overflow-scrolling: touch;

  -ms-scroll-snap-destination: 100vh 0;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);

}


#body > section {
  height: 100vh;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  scroll-snap-align: start;
  padding-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  .small #intro > div {
    transform: translate(0%, 30%) scale(0.5);
  }

  .small #info > span {
    transform: translateX(8%);
  }

  #body > section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30vh;
    height: 70vh;
  }

  #body {
    -ms-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 65%, transparent 75%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 65%, transparent 75%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 65%, transparent 75%);
  }

  #scroll {
    right: 50%;
  }

  #layer {
    display: none;
  }
}

@media (max-width: 639px) {
  .small #intro > div {
    transform: translate(-8%, 28%) scale(0.8);
  }

  .small #info > span {
    transform: translateX(8%);
  }
}



p {
  color: #fff;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

p a {
  color: white;
}


a.button {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 10px 30px;
  background: #256BC4;
  color: #256BC4;
  font-family: 'Doppio One';
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
}

a.button.ticket {
  animation: borderanim .5s linear infinite;
}

@keyframes borderanim {
  0%, 100% {
    box-shadow: 0px 0px 0px 1px #011357, 0px 0px 0px 2px #fff;
  }
  50% {
    box-shadow: 0px 0px 0px 5px #011357, 0px 0px 0px 6px #fff;
  }
}

a.button:after {
  content: "CONTRIBUTE";
  z-index: 7;
  padding: 10px 30px;
  color: #fff;
  font-family: 'Doppio One';
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

a.button.ticket:after {
  content: "GET YOUR TICKET"
}

a.button:before {
  content: "";
  position: absolute;
  background: #FFED2A;
  bottom: 0;
  top: 0;
  left: 100%;
  right: 0;
  z-index: 6;
  transition: left 0.07s ease-in;
}

a.button:hover:before {
  left: 0;
}
a.button:hover:after {
  color: #000;
}

#countdown {
  font-family: 'Doppio One';
  font-size: 1.4em;
}


#ticket {
  position: relative;
  transition: all 0.5s ease-out;
  opacity: 1;
  top: 0px;
}

#ticket.hidden {
  opacity: 0;
  top: 20px;
}


#subscribeForm {
  margin: 40px auto 0;
	display: block;
  text-align: center;
  perspective: 500;
}

#subscribeForm .input {
  transform: translateZ(0px);
  transition: all .2s ease-out;
}

#subscribeForm.hovered .input, #subscribeForm.selected .input, #subscribeForm.load .input, #subscribeForm.failure .input {
  transform: translateZ(20px) translateY(0);
}

#subscribeForm.load .input, #subscribeForm.success .input {
  transform: translateY(-10px);
  opacity: 0;
}


#subscribeForm .input input {
  display: block;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 0 10px;
  outline: 0;
  width: 260px;
  margin: 4px auto;
  height: 40px;
  border-radius: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}


#subscribeForm .input input[type=submit] {
  font-family: 'Doppio One';
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  width: 120px;
  background: rgba(255,255,255,0);
  transition: background .2s ease-out;
  cursor: pointer;
}

#subscribeForm .input input[type=submit]:hover {
  background: rgba(255,255,255,0.2);
}

::-webkit-input-placeholder {
  font-size: .8em;
  color: rgba(255,255,255,0.6);
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: .8em;
  color: rgba(255,255,255,0.6);
}

:-ms-input-placeholder {
  font-size: .8em;
  color: rgba(255,255,255,0.6);
}


#subscribeForm .msg {
  position: relative;
  top: 10px;
	text-align: center;
	color: #aaa;
	font-size: 0.85em;
  opacity: 0;
  height: 2.5em;
  transition: all .2s ease-out;
}

#subscribeForm.failure .msg {
    opacity: 1 !important;
}




#updates {

}

#updates p {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

#updates p a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #888;
}

#updates p a:hover {
  border-bottom-style: solid;
}



#footer {

}

#footer > div {
  display: block;
  text-align: center;
}

#footer > div > * {
  margin-bottom: 80px;
}

#logo {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
}

#footer p {
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

#footer p a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #888;
}

#footer p a:hover {
  border-bottom-style: solid;
}
