html,
body {
  margin: 0px;
  padding: 0px;
  background: #111;
  overflow: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  background: radial-gradient(ellipse at bottom left, #021C7F 40%, #111 100%);
}

#scroll {
  position: absolute;
  bottom: 40px;
  right: 24.8%;
  margin: 0 -100px;
  width: 200px;
  z-index: 100;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7em;
  transition: opacity .3s ease-out;
}

.playvideo {
    position: absolute;
    margin: -24px;
    bottom: 50%;
    right: 24.8%;
    z-index: 102;
    height: 0;
    margin: -60px -90px;
    border-top: 26px solid transparent;
    border-left: 50px solid rgba(255,255,255,.7);
    border-right: 50px solid transparent;
    border-bottom: 26px solid transparent;
}
.playvideo:before {
  content: "Take a look back at 2016";
  position: absolute;
  bottom: -90px;
  left: -80px;
  color: rgba(255,255,255,.75);
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7em;
  opacity: 0;
  transition: opacity .3s ease-out;
}
.playvideo:hover:before {
  opacity: 1;
}
.playvideo:after {
  position: absolute;
  content: "";
  display: block;
  height: 100px;
  width: 100px;
      margin: -58px -88px;
  border: 8px solid rgba(255,255,255,.13);
  border-radius: 100px;
}

#slogan {
  font-style: italic;
}

#layer {
  z-index: 110;
  position: absolute;
  top: 10px;
  left: 15px;
}

#layer a {
  color: rgba(255,255,255,0.1);
  display: block;
  text-decoration: none;
  font-size: 0.7em;
  font-family: 'Consolas', 'Courier', monospace;
}

#debug input {
  background: transparent;
  color: rgba(255,255,255,0.1);
  border: 0;
  display: block;
  padding: 0;
  font-family: 'Consolas', 'Courier', monospace;
}

#debug input:active, #debug input:focus {
  outline: none;
}

body.small #scroll,
body.small .playvideo {
  opacity: 0;
  z-index:0;
}

body:not(.small) #scroll {
  opacity: 1;
  animation: show-scroll 4s ease-out 1;
}

body:not(.small) .playvideo  {
  opacity: 1;
    animation: show-scroll 2.4s ease-out 1;
}

@keyframes show-scroll {
  0%, 75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hop {
  0%, 100% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(3px) rotate(-45deg);
  }
}

#scroll:after {
  content: "";
  position: absolute;
  bottom: -9px;
  transform: rotate(-45deg);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  right: 50%;
  margin: -5px;
  width: 10px;
  height: 10px;
  animation: hop 1s linear infinite;
}

#intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#intro > div {
    width: 100%;
    height: 100%;
    perspective: 100vw;
    transition: all 1s ease-in-out;
}

#disc {
  position: absolute;
  z-index: 100;
  bottom: 49%;
  left: 60px;
  margin: -42vw;
  transform-style: preserve-3d;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: rgba(0,0,0,0.2);
  width: 84vw;
  height: 84vw;
  border-radius: 42vw;
  border: 2vw solid hsla(0,0%,100%,.1);
  perspective-origin: 50% 60%;
  /*-webkit-mask: linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,0%,1)  90% );*/
  transform-origin: 50% 60%;
  transform: rotateX(85deg) rotateZ(0.0001deg) translate(20vw, 28vw);
  transition: transform 1s cubic-bezier(.6,.2,0,.8);
  animation: move-in 2s cubic-bezier(.2,.2,0,.99) 1;
}

.list li {
  position: relative;
}

#disc:before,
#disc:after,
.list li.selected:before,
.list li.selected:after {
  content: "";
  position: absolute;
  margin: -2vw;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 3s 1s cubic-bezier(.6,.2,0,.8) infinite,
             spinner-fade 3s 1s linear infinite;

}

.list li.selected:before,
.list li.selected:after {
  left: 5px;
  border: 4px solid transparent;
  margin: -4px !important;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#disc:before, .list li.selected:before {
  border-top-color: #FFED2A;
}

#disc:after, .list li.selected:after {
  border-top-color: #56AAEB;
  animation-duration: 1.8s;
  animation-delay: 1.75s;
}

@keyframes move-in {
  0% {
    transform: rotateX(90deg) rotateZ(-50deg) translate(0vw, 50vw);
  }
  100% {
    transform: rotateX(85deg) rotateZ(0.0001deg) translate(20vw, 28vw);
  }
}

@keyframes spinner-spin {
  100% { transform: rotate(360deg); }
}

@keyframes spinner-fade {
  20% { opacity: .1; }
  40% { opacity: 1; }
  60% { opacity: .1; }
}

#js {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  top: 0;
  transform-origin: bottom left;
  backface-visibility: visible;
  transform: rotateZ(7deg) rotateX(-90deg) translateY(7.8%);
  animation: rotate-in 2s cubic-bezier(.2,.2,0,.9) 1;
  opacity: 1;
  transition: all .5s cubic-bezier(.6,.2,0,.8);
}

#devfest {
  position: absolute;
  width: 35%;
  height: 35%;
  right: 0;
  top: 0;
  transform-origin: bottom left;
  backface-visibility: visible;
  transform: rotateZ(7deg) rotateX(-120deg) translate(-10%, 16.8%);
  opacity: 0;
  transition: all .5s cubic-bezier(.6,.2,0,.8);
}

#info {
  font-family: 'Doppio One';
  color: #fff;
  font-size: calc(0.1em + 1.3vw);
  text-align: left;
  position: absolute;
  width: 30%;
  right: 5%;
  bottom: 21%;
  transform-origin: bottom left;
  backface-visibility: visible;
  opacity: 1;
  transform: rotateX(-90deg) translateY(7.8%) translateX(-3.8%);
  animation: fade-in 2s cubic-bezier(.6,.2,0,.8) 1;
  transition: transform 1s cubic-bezier(.6,.2,0,.8);
}

#info > span {
  display: block;
  transition: transform 1s ease-in-out;
}

.small #intro > div {
  transform: translateX(-25vw) scale(0.85) rotateY(15deg) rotateZ(-2deg);
}

.small #info > span {
  transform: translateX(8%);
}

.devfest #js {
  opacity: 0;
  transform: rotateZ(7deg) rotateX(-30deg) translateY(7.8%);
}

.devfest #devfest {
  opacity: 1;
  transform: rotateZ(7deg) rotateX(-90deg) translate(-10%, 16.8%);
}

.devfest #info {
  opacity: 0;
}

@keyframes rotate-in {
  0% {
    transform: rotateZ(-40deg) rotateX(-90deg) translateY(7.8%);
    opacity: 0;
  }
  100% {
    transform: rotateZ(7deg) rotateX(-90deg) translateY(7.8%);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: rotateX(-90deg) translateY(7.8%) translateX(4%);
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: rotateX(-90deg) translateY(7.8%) translateX(-3.8%);
    opacity: 1;
  }
}



#body {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  scroll-snap-type: mandatory;
  scroll-behaviour: auto;
  scroll-snap-points-y: repeat(100vh);

  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 100vh 0;
  -webkit-scroll-snap-points-y: repeat(100vh);
  -webkit-overflow-scrolling: touch;

  -ms-scroll-snap-destination: 100vh 0;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: snapInterval(0px, 100vh);

}


#body > section {
  height: 100vh;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  scroll-snap-align: start;
  padding-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {

  video {
    display: none;
  }

  .playvideo {
    transform-origin: 25% 0%;
    transform: scale(0.7);
  }
  .playvideo:hover:before {
    opacity: 0;
  }

  .desktop {
    display: none;
  }

  .small #intro > div {
    transform: translate(0%, 30%) scale(0.5);
  }

  .small #info > span {
    transform: translateX(8%);
  }

  #body > section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25vh;
    height: 75vh;
  }

  #body {
    -ms-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 80%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 80%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 70%, transparent 80%);
  }

  #scroll {
    right: 50%;
  }

  #layer {
    display: none;
  }
}

@media (max-width: 639px) {


  .playvideo {
     bottom: 20%;
     left: calc(50% + 57px);
  }

  .small #intro > div {
    transform: translate(-8%, 28%) scale(0.8);
  }

  .small #info > span {
    transform: translateX(8%);
  }
}



p {
  color: #fff;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

p a {
  color: white;
}


a.button {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 10px 30px;
  background: #256BC4;
  color: #256BC4;
  font-family: 'Doppio One';
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
}

a.button.ticket {
  animation: borderanim .5s linear infinite;
}

@keyframes borderanim {
  0%, 100% {
    box-shadow: 0px 0px 0px 1px #011357, 0px 0px 0px 2px #fff;
  }
  50% {
    box-shadow: 0px 0px 0px 5px #011357, 0px 0px 0px 6px #fff;
  }
}

a.button:after {
  content: "CONTRIBUTE";
  z-index: 7;
  padding: 10px 30px;
  color: #fff;
  font-family: 'Doppio One';
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

a.button.ticket:after {
  content: "GET YOUR TICKET"
}

a.button:before {
  content: "";
  position: absolute;
  background: #FFED2A;
  bottom: 0;
  top: 0;
  left: 100%;
  right: 0;
  z-index: 6;
  transition: left 0.07s ease-in;
}

a.button:hover:before {
  left: 0;
}
a.button:hover:after {
  color: #000;
}


.carouselc > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: calc(100% + 40px);
}

.carouselc > div > div {
  flex: 1;
}

.carouselc > div > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.mask {
  -ms-mask-image: linear-gradient(to right, transparent 2%, rgba(0, 0, 0, 1.0) 30%, rgba(0, 0, 0, 1.0) 70%, transparent 98%);
  -webkit-mask-image: linear-gradient(to right, transparent 2%, rgba(0, 0, 0, 1.0) 30%, rgba(0, 0, 0, 1.0) 70%, transparent 98%);
  mask-image: linear-gradient(to right, transparent 2%, rgba(0, 0, 0, 1.0) 30%, rgba(0, 0, 0, 1.0) 70%, transparent 98%);
  overflow: hidden;
}

.list {
  margin: 10px auto 22px;
  padding: 0;
  height: 128px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform .2s linear;
}

.list a {
  color: #fff;
  text-decoration: none;
}

.list li {
  list-style-type: none;
  padding: 5px;
}

.list img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all .2s linear;
}

.list li:not(.selected) img {
  width: 48px;
  height: 48px;
}

.round {
  position: relative;
  width: 48px;
  height: 48px;
  float: right;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.5);
  color: rgba(255,255,255,.5);
  line-height: 48px;
  text-align: center;
  transition: all .2s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
}
.round.past {
  opacity: 0.4;
}

.round .day {
  display: block;
  line-height: 1.1em;
}
.round .month {
  line-height: 1em;
  font-size: 0.6em;
  display: block;
}

.list li.selected .round {
  width: 118px;
  height: 118px;
  line-height: 118px;
  color: #fff;
  opacity: 1 !important;
}

.carousel {
  -ms-mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1.0) 2%, rgba(0, 0, 0, 1.0) 98%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1.0) 2%, rgba(0, 0, 0, 1.0) 98%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1.0) 2%, rgba(0, 0, 0, 1.0) 98%, transparent 100%);
  color: #fff;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: mandatory;
  scroll-behaviour: auto;
  scroll-snap-points-x: repeat(100%);

  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 0 100%;
  -webkit-scroll-snap-points-x: repeat(100%);
  -webkit-overflow-scrolling: touch;

  -ms-scroll-snap-destination: 0 100%;
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: snapInterval(100%, 0);
}

.carousel > div {
  display: flex;
  justify-content: space-around;
}

.speaker {
  width: 50vw;
  -webkit-scroll-snap-align: start;
  -ms-scroll-snap-align: start;
  scroll-snap-align: start;
}

@media (max-width: 1023px) {
  .speaker {
    width: 100vw;
  }
}

h3 {
  font-family: 'Doppio One';
  text-transform: uppercase;
  color: #fff;
}

h4 {
  color: #fff;
  font-weight: bold;
}

.speaker h3 {
  display: inline;
}

.speaker h4 {
  display: inline;
}

.speaker .twitter, .speaker .external {
  display: block;
  font-size: 0.8em;
  padding: 0.6em 0 0;
  color: #fff;
}

.speaker .external:before {
  content: "» "
}

.speaker .twitter:before {
  content: "";
  display: inline-block;
  padding: 8px;
  vertical-align: middle;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.00006 244.18703" version="1.1"><g transform="translate(-539.18 -568.86)"><path d="m633.9 812.04c112.46 0 173.96-93.168 173.96-173.96 0-2.6463-0.0539-5.2806-0.1726-7.903 11.938-8.6302 22.314-19.4 30.498-31.66-10.955 4.8694-22.744 8.1474-35.111 9.6255 12.623-7.5693 22.314-19.543 26.886-33.817-11.813 7.0031-24.895 12.093-38.824 14.841-11.157-11.884-27.041-19.317-44.629-19.317-33.764 0-61.144 27.381-61.144 61.132 0 4.7978 0.5364 9.4646 1.5854 13.941-50.815-2.5569-95.874-26.886-126.03-63.88-5.2508 9.0354-8.2785 19.531-8.2785 30.73 0 21.212 10.794 39.938 27.208 50.893-10.031-0.30992-19.454-3.0635-27.69-7.6468-0.009 0.25652-0.009 0.50661-0.009 0.78077 0 29.61 21.075 54.332 49.051 59.934-5.1376 1.4006-10.543 2.1516-16.122 2.1516-3.9336 0-7.766-0.38716-11.491-1.1026 7.7838 24.293 30.355 41.971 57.115 42.465-20.926 16.402-47.287 26.171-75.937 26.171-4.929 0-9.7983-0.28036-14.584-0.84634 27.059 17.344 59.189 27.464 93.722 27.464" fill="%23fff"/></g></svg>');
}

p, .speaker p {
  margin-top: .6em;
  font-size: 0.8em;
}

.speaker > * {
  margin: auto;
  width: 340px;
  text-align: left;
}

#countdown {
  font-family: 'Doppio One';
  font-size: 1.4em;
}


#ticket {
  position: relative;
  transition: all 0.5s ease-out;
  opacity: 1;
  top: 0px;
}

#ticket.hidden {
  opacity: 0;
  top: 20px;
}


#subscribeForm {
  margin: 20px auto 0;
	display: block;
  text-align: center;
  perspective: 500;
}

#subscribeForm .input {
  transform: translateZ(0px);
  transition: all .2s ease-out;
}

#subscribeForm.hovered .input, #subscribeForm.selected .input, #subscribeForm.load .input, #subscribeForm.failure .input {
  transform: translateZ(20px) translateY(0);
}

#subscribeForm.load .input, #subscribeForm.success .input {
  transform: translateY(-10px);
  opacity: 0;
}


#subscribeForm .input input {
  display: block;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 0 10px;
  outline: 0;
  width: 260px;
  margin: 4px auto;
  height: 40px;
  border-radius: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}


#subscribeForm .input input[type=submit] {
  font-family: 'Doppio One';
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  width: 120px;
  background: rgba(255,255,255,0);
  transition: background .2s ease-out;
  cursor: pointer;
}

#subscribeForm .input input[type=submit]:hover {
  background: rgba(255,255,255,0.2);
}

::-webkit-input-placeholder {
  font-size: .8em;
  color: rgba(255,255,255,0.6);
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: .8em;
  color: rgba(255,255,255,0.6);
}

:-ms-input-placeholder {
  font-size: .8em;
  color: rgba(255,255,255,0.6);
}


#subscribeForm .msg {
  position: relative;
  top: 0px;
	text-align: center;
	color: #aaa;
	font-size: 0.85em;
  opacity: 0;
  height: 2.5em;
  transition: all .2s ease-out;
}

#subscribeForm.failure .msg {
    opacity: 1 !important;
}

#sponsors img {
  max-height: 30px;
}

#sponsors > div > a {
  padding: 5px;
  display: inline-block;
  height: 30px;
  background: #fff;
  margin: 5px;
}


#updates p {
  text-align: center;
  margin: 0 auto;
}

#updates p a {
  color: #fff;
}



#footer {

}

#footer > div {
  display: block;
  text-align: center;
}

#footer > div > * {
  margin-bottom: 80px;
}

#logo {
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
}

#footer p {
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

#footer p a {
  color: #fff;
}
