body {
	background: white;
	overflow-x: none;
}

body > nav {
	position: fixed;
	box-shadow: inset 0 8px 8px rgba(0,0,0,0.3);
	background: #f8f8f8;
	width: 100px;
	top: -10px;
	left: 0;
	bottom: -10px;
	text-align: center;
	padding-top: 10px;
}

nav img {
	width: 80px;
	margin-top: 10px;
}

body > section {
	width: 360px;
	margin: 0 auto;
	padding-left: 120px;
	padding-right: 20px;
	text-align: center;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section img {
	max-width: 500px;
}

hr {
	border: 0;
	border-bottom: 1px solid gray;
	margin: 140px 80px;
}

h2 {
	font-weight: 200;
	letter-spacing: 2px;
	margin: 4em 0 2em;
}

h3 {
	font-size: 1em;
	margin-bottom: 2px;
	font-weight: 500;
	text-transform: uppercase;
}

h3 + p {
	margin-top: 0;
}

h4 {
	margin-top: 2em;
	font-weight: normal;
	font-weight: 200;
	letter-spacing: 1px;
}

span {
	display: block;
	font-family: Courier, monospace;
	color: #0086BE;
	font-weight: 600;
	font-size: 4em;
	margin: 0.5em 0;
	letter-spacing: -5px;
}